#file-management-container {
    width: 20%;
    height: 100%;
    padding-left: 2vw;
    float: left;
}

.file-management-ifc-files-wrapper {
    height: 90%;
    background-color: #ced9d9;
    border-left: 1px solid var(--main-bg-color);
    border-right: 1px solid var(--main-bg-color);
}
