#file-management-container {
    width: 20%;
    height: 100%;
    padding-left: 30px;
    float: left;
}

.file-management-ifc-files-wrapper {
    height: 95%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #ced9d9;
}
