#footer-container {
    position: absolute;
    width: 100vw;
    height: 4vh;
    margin: 0;
    bottom: 0;
    background-color: var(--dark-green);
    text-align: center;
    padding: 0.8vh;
    font-size: 1vh;
    color: white;
    font-weight: 600;
}
