.ifc-file-container:first {
    border-top: none;
}

.ifc-file-container {
    display: flex;
    border-top: 1px solid gray;
    padding: 10px;
    line-height: normal;
}

.ifc-file-container:last-of-type {
    border-bottom: 1px solid gray;
}

.ifc-file-remove-button,
.ifc-file-edit-button {
    color: var(--main-bg-color);
}

.ifc-file-edit-button:hover,
.ifc-file-edit-button:hover {
    color: var(--medium-green);
    cursor: pointer;
}

.ifc-file-remove-button,
.ifc-file-edit-button {
    font-size: 20px !important;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}

.ifc-file-name {
    width: 70%;
    text-align: left;
    margin-left: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    color: var(--main-bg-color);
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
}

.ifc-file-buttons {
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 5%;
}

.ifc-file-buttons button {
    height: 10%;
    width: 35%;
    font-size: 16px !important;
}

.ifc-file-buttons > button:first-of-type {
    margin-right: 10% !important;
}
