#top-bar-container {
    width: 100%;
    height: 6vh;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--medium-light-green-border);
}

#top-bar-logo-container {
    width: 10%;
    max-width: 250px;
    height: 100%;
}

#top-bar-contact-container {
    text-align: center;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-left: var(--medium-light-green-border);
}

img {
    width: auto;
    height: 100%;
    object-fit: contain;
    border-right: var(--medium-light-green-border);
}

.top-bar-menu-wrappers {
    width: 20%;
    height: 50%;
    transform: translateY(50%);
    display: inline-block;
    font-size: 1.5vh;
    text-align: center;
    color: white;
}

.top-bar-menu-wrappers:hover {
    background-color: var(--medium-green);
    cursor: pointer;
}

.top-bar-menu-wrappers:last-of-type {
    border-right: var(--medium-light-green-border);
}

.top-bar-menu-wrappers > a {
    color: white;
}

.top-bar-menu {
    width: 20%;
    height: 100%;
    min-width: 500px;
}
