#graph-menu-container {
    margin: 0;
    background-color: var(--dark-green);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: var(--medium-light-green-border);
    font-weight: 600;
    width: 100%;
}

.graph-menu-icon-upload {
    color: white;
    padding-left: 5%;
}

.graph-menu-icon {
    padding-left: 2.5%;
}

.graph-menu-icon:hover {
    color: #8fc7c5;
    cursor: pointer;
}

p {
    margin: auto;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 4vh;
    color: white;
}
