#graph-menu-container {
    margin: auto;
    background-color: #618685;
    bottom: 20px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 1px solid #5ea8a6;
    font-weight: 600;
}

#graph-menu-content {
    margin: auto;
    text-align: right;
    color: white;
    font-size: 22px;
    padding: 20px;
    width: 100%;
}

.graph-menu-icon{
    padding-right: 12.0%;
    color: white;
}

.graph-menu-icon:hover {
    color: #8fc7c5;
    cursor: pointer;
}
