#graph-menu-container {
    margin: 0;
    background-color: #618685;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid #5ea8a6;
    font-weight: 600;
    width:100%
}

#graph-menu-icon{
    padding-right: 12.0%;
    color: white;
    margin-left: 5%;
}

#graph-menu-icon:hover {
    color: #8fc7c5;
    cursor: pointer;
    
}

p {
    margin: auto;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 4vh;
    color: white;
}