.file-upload-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: white;
    vertical-align: middle;
    color: white;
    font-weight: 600;
    line-height: 5%;
}

.file-upload-container:hover {
    background-color: var(--medium-green);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

.file-upload-button-title {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
}
