.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-button {
    color: white;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    display: flex;
    position: relative;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #5EA8A6;
    background-color: #618685;
    font-weight: 600;
}

.green-button:hover {
    background-color: #5EA8A6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

p {
    margin: auto;
    text-align: center;
    width: 100%;
}
