#graph-container-container {
    width: 90%;
    margin-left: 5%;
    height: 100%;
    float: left;
}

#graph-container-graph {
    height: 90%;
    width: 75%;
    float: left;
    border-left: 1px solid #618685;
}
#graph-container-sparql-wrapper {
    height: 90%;
    width: 25%;
    float: left;
    border-left: 1px solid #618685;
}

#graph-container-title {
    color: white;
    text-align: center;
}

#graph-container-center {
    width: 80%;
    margin: 0;
    height: 100%;
    float: left;
    border-radius: 15px;
}

#graph-container-title {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-color: #618685;
    color: white;
    vertical-align: middle;
    color: white;
    font-weight: 600;
    line-height: 5%;
}

#graph-container-title-content {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
}
