#graph-container-container {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    float: left;
    background-color: green;
}

#graph-container-graph {
    height: 100%;
}

#graph-container-title {
    color: white;
}

#graph-container-center {
    text-align: center;
    width: 80%;
    margin: 0;
    height: 100%;
    float: left;
    border-radius: 15px;
}

#graph-container-title {
    color: white;
    margin: auto;
    max-height: 5%;
    font-size: 24px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #5ea8a6;
    background-color: #618685;
    font-weight: 600;
}

/* p {
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 2.5%;
    font-size: 20px;
} */
