.ifc-file-parser-section-title {
    margin-top: 2% !important;
    margin-bottom: 4% !important;
    width: 100%;
    border-bottom: 1px solid var(--main-bg-color);
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-bg-color);
    font-weight: 700;
}

.ui.toggle.checkbox input[type="checkbox"]:checked ~ label::before,
.ui.toggle.checkbox input[type="checkbox"]:checked:focus ~ label::before {
    background: #618685 !important;
}

.checkbox label {
    text-transform: uppercase;
}

.parse-settings-form-buttons {
    margin-top: 15%;
}

.field {
    color: var(--main-bg-color);
}

input[type="text"] {
    color: #618685 !important;
    font-weight: 700;
}
